.App {
    font-family: sans-serif;
    text-align: center;
}

* {
    color: #F0F2F5;
    margin: 0;
    padding: 0;
}

body {
    background: #222;
}

div.topNavBar {
    background: #023459;
    text-align: center;
    padding-top: 15px;
}

div.topNavBar div {
    position: sticky;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
}

li {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    background: #003459;
    border: 0;
}

li:hover {
    background: #7390A4;
    color: black;
    transition: 0.3s;
}

li.active {
    background: #127A16;
}

li.active:hover {
    background-color: #45a049;
}

.title {
    font-style: italic;
}

h2.title {
    padding: 10px;
    text-align: center;
}

a {
    padding: 0px;
    /*color: white;*/
}

button {
    width: 180px;
    height: 60px;
    color: #F0F2F5;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #7390A4;
    color: black;
    transition: 0.3s;
}

.Table {
    overflow-x: auto;
}

table {
    /*border-spacing: 0; /* it's crucial to make on-hover options work */
    border-collapse: collapse;
    margin: 0px 2.5%;
    width: 95%;
}

/*caption {
    text-align: center;
    padding-bottom: 10px;
    font-size: 32px;
}*/

tr:nth-child(even){background-color: #3e3e3e}
tr:nth-child(odd){background-color: #54565B}

th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #003459;
    min-width: 60px;
}

td, th {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}


td {
    word-break: break-all;
    max-width: 60px;
    min-width: 20px;
}

td div a img {
    margin: 5px;
    visibility: hidden;
}

tr:hover td div a img {
    margin: 5px;
    visibility: visible;
    transition: 0.3s;
}

tr:hover {
    background-color: #ddd;
    transition: 0.3s;
}

tr:hover td {
    color: black;
    transition: 0.3s;
}

img.delete,
img.edit {
    width: 16px;
}

tr:hover th.options img {
    display: hidden;
}

th.options {
    width: 40px;
}

.addDiv {
    margin: 20px 2.5%;
    padding: 16px 0;    /* center h2 verticaly */
}

.addDiv h2 {
    display: inline-block;
    padding-left: 40px;
}

.addDiv button {
    margin: -16px 0 0 0;    /* fixed centering h2 verticaly problem */
    display: inline-block;
    height: 60px;
    float: right;
}

.formDiv {
    max-width: 500px;
    width: 75%;
    margin: 25px auto;
    display: block;
    border: 1px solid;
    border-radius: 4px;
    padding: 20px;
}

.formDiv h2 {
    font-size: 23px;
    font-style: italic;
    text-align: center;
}

.formDiv form {
    margin: 30px auto 80px auto;
}

input[type=text], select,
input[type=password],
input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}

.goodBtn {
    background: #127A16;
}

.goodBtn:hover {
    background-color: #45a049;
}

.badBtn {
    background: red;
}

.badBtn:hover {
    color: #F0F2F5;
    background: #A50D0C;
}

.neutralBtn {
    background: #023459;
}

.formFooter {
    margin-top: 20px;
}

.formFooter .returnButton {
    float: left;
}

.submitButton {
    float: right;
}

.callbackDiv {
    max-width: 500px;
    width: 75%;
    margin: 25px auto;
    display: block;
    padding: 20px;
    text-align: center;
}

.callbackDiv button {
    margin: 0 30px;
    margin-top: 20px;
}

.callbackDiv h2 {
    font-style: italic;
}

.delDiv {
    max-width: 500px;
    width: 75%;
    margin: 25px auto;
    display: block;
    padding: 20px;
    text-align: center;
}

.delDiv button {
    margin: 0 30px;
    margin-top: 20px;
}

.delDiv h2 {
    font-style: italic;
}